@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-size: 200% 200%;
}

.messages::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
